@font-face {
    src: url("./FiraCode.ttf");
    font-family: "Fira Code";
}

code {
    color: black;
    background: grey;
    line-height: 23px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    position: relative;
    font-family: "Fira Code";
    left: 0;
    box-decoration-break: clone;
    cursor: default;
    transition: all .5s;
}

code[no-css=""] {
    color: unset;
    background: unset;
    line-height: unset;
    border-radius: unset;
    padding: unset;
    margin: unset;
    position: unset;
    font-family: "Fira Code";
    left: unset;
    box-decoration-break: unset;
    cursor: unset;
    transition: all .5s;
}