code {
    color: black;
    background: grey;
    line-height: 23px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    position: relative;
    left: 0;
    box-decoration-break: clone;
    cursor: default;
    transition: all .5s;
}