login {
    text-align: right;
}

input[name="id"], 
input[name="password"],
input[name="password-old"],
input[name="password-new"],
input[name="password-new-confirm"] {
    border: 1px solid black;
    padding: 10px;
    width: 90%;
    margin: 0;
}

input[name="id"] {
    border-radius: 5px;
}

input[name="password"] {
    border-radius: 5px 5px 0 0;
}

button[login=""] {
    transition: all .5s;

    border: 1px black solid;
    color: white;
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    padding: 10px;
}

button[login=""]:hover {
    transition: all .5s;

    box-shadow: 0 0 10px white;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    text-decoration: underline;
}

button[login=""]:disabled {
    transition: all .5s;

    background-color: transparent;
    border: 1px transparent solid;
    text-shadow: 0 0 1px transparent;
    padding: 10px;
    text-decoration: none;
}

div[loginErrorView=""] {
    transition: all .5;
    background-color: red;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    display: none;
    padding: 10px;
}

h1 {
    width: fit-content;
}